body {
  font-family: "Lato", "sans-serif";
  line-height: 1.1875;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  padding: 3.6rem;
  color: theme("colors.gray");
}

::selection {
  background-color: theme("colors.primaryGreen");
  color: theme("colors.white");
}
