@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* custom */
@import "./_global.css";
@import "./_animations.css";
@import "./_typography.css";

/*? components */
@layer components {
  .btn {
    text-align: center;
    font-size: 1.9rem;
    text-transform: uppercase;
    padding: 1.7rem 4.65rem 1.864rem 4.78rem;
    border-radius: 120px;
    cursor: pointer;
    position: relative;
  }

  .btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    z-index: -1;
  }

  .btn:hover::after {
    animation: pulse 0.2s ease-in-out forwards;
  }

  .input {
    @apply min-w-[48.6rem] rounded-sm bg-white text-black text-[1.8rem] py-[21px] px-[24px] outline-none placeholder:text-[#999] border-b-[transparent] border-b-4 focus:border-b-4 focus:border-b-primaryGreen shadow-xl focus:invalid:border-b-[red] transition-all;

    &:placeholder-shown + label {
      transform: translateY(-45px);
      opacity: 0;
      visibility: hidden;
      user-select: none;
    }
  }

  .check-input {
    display: none;
    &:checked ~ label span::after {
      opacity: 1;
    }
  }

  .card-blur {
    @apply p-24 bg-[rgb(255,255,255,0.6)] w-[75%] rounded-[3px] text-gray -skew-x-12 cursor-pointer;

    &:hover img {
      @apply scale-100;
      filter: blur(10px);
    }
    &:hover figcaption {
      @apply -translate-y-1/2;
      opacity: 1;
    }
  }

  .card-figure {
    @apply relative skew-x-12 overflow-hidden mr-[30px];
    width: 180px;
    height: 180px;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    float: left;
  }

  .text-decoration {
    @apply bg-gradient py-4 px-6 leading-[170%];
    -webkit-box-decoration-break: clone;
  }

  .back {
    transform: rotateY(-180deg);
  }

  .back,
  .front {
    @apply shadow-xl;
    transition: transform 0.8s;
    backface-visibility: hidden;
  }

  .flipper {
    perspective: 150rem;
    position: relative;

    backface-visibility: hidden;
    &:hover .front {
      transform: rotateY(180deg);
    }
    &:hover .back {
      transform: rotateY(0deg);
    }
  }

  .nav {
    position: fixed;
    top: 50%;
    left: -100%;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.4s cubic-bezier(1, -0.27, 0.05, 1.23);
  }

  .toggle-nav {
    &:checked ~ .nav {
      visibility: visible;
      opacity: 1;
      left: 50%;
    }

    &:checked ~ .backdrop {
      @apply scale-[100];
    }

    &:hover ~ label span::after {
      top: -8px;
    }
    &:hover ~ label span::before {
      top: 8px;
    }

    &:checked ~ label span {
      transform: rotate(45deg);
      left: 30%;
    }
    &:checked ~ label span::before {
      transform: rotate(-90deg);
      left: 0%;
      top: 0;
    }
    &:checked ~ label span::after {
      opacity: 0;
    }
  }

  .popup {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[75%] scale-0 invisible opacity-0 transition-all duration-300  rounded-xl z-[2001] overflow-hidden;

    &:target {
      @apply scale-100;
      opacity: 1;
      visibility: visible;
    }

    &:target ~ .backdrop-popup {
      opacity: 1;
      visibility: visible;
    }

    &:not(:target) {
      opacity: 0;
      visibility: hidden;
    }
  }
}

/*? utilities */
@layer utilities {
  .image-scaler {
    height: 0;

    &:hover img:not(:hover) {
      @apply scale-95;
    }
  }

  .clip {
    clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);
  }
}
